<a href="https://colab.research.google.com/github/Ganavii/Pandas-assignment/blob/main/pandas_assignment_(5).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pandas Assignment

datsets: top songs of the year specified

---




*   spotify_data_2011-2020.csv 
*   spotify_data_2021-1.csv

<h3 style="color:#1DB954">Variable description</h2>

<table style=" background-color: #c9ffb8;
              font-size:13px;
              font-weight:normal;
              border: 6px solid #4e7852;">
  <tr style="border: 3px solid #4e7852 ;" >
    <th>Variable</th>
    <th>Description</th>
  </tr>
  <tr>
    <td>name </td>
    <td>The name of the artist.</td>
  </tr>
  <tr>
    <td>album</td>
    <td>The album on which the track appears.</td>
  </tr>
   <tr>
    <td>artist </td>
    <td>The artists who performed the track.</td>
   </tr>
    <tr>
    <td>release_date         </td>
    <td>The date the album was first released, for example 1981. Depending on the precision, it might be shown as 1981-12 or 1981-12-15.</td>
   </tr>
   <tr>
    <td> length	 </td>
    <td>The track length in milliseconds.</td>
   </tr>
    <tr>
    <td> popularity	    </td>
    <td>The popularity of the artist. The value will be between 0 and 100, with 100 being the most       popular.The artist’s popularity is calculated from the popularity of all the artist’s tracks.</td>
   </tr>
     <tr>
     <td>explicit               </td>
    <td>Whether or not the show has explicit content (true = yes it does; false = no it does not OR unknown).</td>
   </tr>
     <tr>
    <td> danceability        </td>
    <td> Danceability describes how suitable a track is for dancing based on a combination of musical elements including tempo, rhythm stability, beat strength, and overall regularity. A value of 0.0 is least danceable and 1.0 is most danceable.</td>
   </tr>
     <tr>
    <td> tempo 	 </td>
    <td>The overall estimated tempo of a track in beats per minute (BPM). In musical terminology, tempo is the speed or pace of a given piece and derives directly from the average beat duration.</td>
   </tr>
     <tr>
    <td> valence	 </td>
    <td>A measure from 0.0 to 1.0 describing the musical positiveness conveyed by a track. Tracks with high valence sound more positive (e.g. happy, cheerful, euphoric), while tracks with low valence sound more negative (e.g. sad, depressed, angry). </td>
   </tr>
     <tr>
    <td> 
   acousticness	 </td>
    <td>	A confidence measure from 0.0 to 1.0 of whether the track is acoustic. 1.0 represents high confidence the track is acoustic.</td>
   </tr>
    <tr>
    <td>energy 	 </td>
    <td>Energy is a measure from 0.0 to 1.0 and represents a perceptual measure of intensity and activity. Typically, energetic tracks feel fast, loud, and noisy. For example, death metal has high energy, while a Bach prelude scores low on the scale. Perceptual features contributing to this attribute include dynamic range, perceived loudness, timbre, onset rate, and general entropy.</td>
   </tr>
    <tr>
    <td> instrumentalness 	 </td>
    <td>Predicts whether a track contains no vocals. “Ooh” and “aah” sounds are treated as instrumental in this context. Rap or spoken word tracks are clearly “vocal”. The closer the instrumentalness value is to 1.0, the greater likelihood the track contains no vocal content. Values above 0.5 are intended to represent instrumental tracks, but confidence is higher as the value approaches 1.0.</td>
   </tr>
    <tr>
    <td>liveness	 </td>
    <td>This value describes the probability that the song was recorded with a live audience. According to the official documentation “a value above 0.8 provides strong likelihood that the track is live”..</td>
   </tr>
    <tr>
    <td>loudness </td>
    <td>The overall loudness of a track in decibels (dB). Loudness values are averaged across the entire track and are useful for comparing relative loudness of tracks. Loudness is the quality of a sound that is the primary psychological correlate of physical strength (amplitude). Values typical range between -60 and 0 db.	</td>
   </tr>
    <tr>
    <td>speechiness </td>
    <td>Speechiness detects the presence of spoken words in a track. The more exclusively speech-like the recording (e.g. talk show, audio book, poetry), the closer to 1.0 the attribute value. Values above 0.66 describe tracks that are probably made entirely of spoken words. Values between 0.33 and 0.66 describe tracks that may contain both music and speech, either in sections or layered, including such cases as rap music. Values below 0.33 most likely represent music and other non-speech-like tracks.</td>
   </tr>
    <tr>
        <td>mode</td>
<td>Mode indicates the modality (major or minor) of a track, the type of scale from which its melodic content is derived. Major is represented by 1 and minor is 0.</td>
    </tr>
    
   
</table>
<style>

    
</style>  
<p>For more info, check the developers website created by <a href="https://developer.spotify.com/documentation/web-api/reference/#category-tracks" >Spotify </a>

## import pandas library

In [1]:
import pandas as pd

## Read spotify_2011-2020.csv file

In [2]:
spotify=pd.read_csv("/content/spotify_data_2011-2020.csv")

## Display first 10 rows of the dataset

In [3]:
spotify.head(10)

                                            name         artists  ...    tempo  year
0                          Old Town Road - Remix       Lil Nas X  ...  136.041  2019
1                                        bad guy   Billie Eilish  ...  135.128  2019
2                                       Señorita    Shawn Mendes  ...  116.967  2019
3                                        7 rings   Ariana Grande  ...  140.048  2019
4  Sunflower - Spider-Man: Into the Spider-Verse     Post Malone  ...   89.960  2019
5                                i'm so tired...            Lauv  ...  102.211  2019
6                                     Without Me          Halsey  ...  136.041  2018
7                                Don't Start Now        Dua Lipa  ...  123.941  2019
8                                        Shallow       Lady Gaga  ...   95.799  2018
9                                         Sucker  Jonas Brothers  ...  137.958  2019

[10 rows x 19 columns]

## Display 4 rows from the last

In [4]:
spotify.tail(4)

                                name        artists  ...    tempo  year
880                        Honey Bee  Blake Shelton  ...  205.570  2011
881         Stereo Love - Radio Edit    Edward Maya  ...  127.041  2010
882                 Black and Yellow    Wiz Khalifa  ...  164.020  2011
883  Earthquake (feat. Tinie Tempah)       Labrinth  ...  153.071  2012

[4 rows x 19 columns]

## Display the information of each column in the dataset using .info function

In [5]:
spotify.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 884 entries, 0 to 883
Data columns (total 19 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   name              884 non-null    object
 1   artists           884 non-null    object
 2   id                884 non-null    object
 3   release_date      884 non-null    object
 4   explicit          884 non-null    bool
 5   valence           884 non-null    float64
 6   acousticness      884 non-null    float64
 7   danceability      884 non-null    float64
 8   duration_ms       884 non-null    int64
 9   energy            884 non-null    float64
 10  instrumentalness  884 non-null    float64
 11  loudness          884 non-null    float64
 12  key               884 non-null    int64
 13  liveness          884 non-null    float64
 14  mode              884 non-null    int64
 15  popularity        884 non-null    int64
 16  speechiness       884 non-null    float64
 17  tempo             884 non-null    float64
 18  year              884 non-null    int64
dtypes: bool(1), float64(9), int64(5), object(4)
memory usage: 125.3+ KB

## Check for null values

In [9]:
spotify.isnull()

      name  artists     id  release_date  ...  popularity  speechiness  tempo   year
0    False    False  False         False  ...       False        False  False  False
1    False    False  False         False  ...       False        False  False  False
2    False    False  False         False  ...       False        False  False  False
3    False    False  False         False  ...       False        False  False  False
4    False    False  False         False  ...       False        False  False  False
..     ...      ...    ...           ...  ...         ...          ...    ...    ...
879  False    False  False         False  ...       False        False  False  False
880  False    False  False         False  ...       False        False  False  False
881  False    False  False         False  ...       False        False  False  False
882  False    False  False         False  ...       False        False  False  False
883  False    False  False         False  ...       False        False  False  False

[884 rows x 19 columns]

## Display the number of unique values in each column using .nunique function

In [7]:
spotify.nunique()

name                843
artists             371
id                  883
release_date        458
explicit              2
valence             543
acousticness        691
danceability        407
duration_ms         848
energy              449
instrumentalness    327
loudness            806
key                  12
liveness            458
mode                  2
popularity           65
speechiness         566
tempo               838
year                 12
dtype: int64

## Identify the columns with **numeric values** and display those

In [10]:
spotify.select_dtypes(include='number')

     valence  acousticness  danceability  ...  speechiness    tempo  year
0      0.639       0.05330         0.878  ...       0.1020  136.041  2019
1      0.562       0.32800         0.701  ...       0.3750  135.128  2019
2      0.749       0.03920         0.759  ...       0.0290  116.967  2019
3      0.327       0.59200         0.778  ...       0.3340  140.048  2019
4      0.925       0.53300         0.755  ...       0.0575   89.960  2019
..       ...           ...           ...  ...          ...      ...   ...
879    0.927       0.10000         0.692  ...       0.0255  104.023  2011
880    0.723       0.00167         0.481  ...       0.0385  205.570  2011
881    0.586       0.03460         0.799  ...       0.0322  127.041  2010
882    0.538       0.06460         0.684  ...       0.0675  164.020  2011
883    0.258       0.10900         0.540  ...       0.1000  153.071  2012

[884 rows x 14 columns]

## Display the statistical information of the numerical columns

In [12]:
spotify.describe()

          valence  acousticness  ...       tempo         year
count  884.000000    884.000000  ...  884.000000   884.000000
mean     0.515144      0.157587  ...  119.933863  2015.078054
std      0.216215      0.204578  ...   25.062607     2.800585
min      0.038100      0.000132  ...   64.934000  2009.000000
25%      0.352000      0.020000  ...  100.037750  2013.000000
50%      0.514000      0.073650  ...  120.012500  2015.000000
75%      0.674000      0.213000  ...  130.078500  2017.000000
max      0.966000      0.978000  ...  205.846000  2020.000000

[8 rows x 14 columns]

## Display the  columns with categorical  values

[19]
Categories (1, int64): [19]

## Display all the colunns  with continuous value

## Display the first 3 columns using iloc function (all the rows )

In [20]:
spotify.iloc[:,:3]

                                              name  ...                      id
0                            Old Town Road - Remix  ...  2YpeDb67231RjR0MgVLzsG
1                                          bad guy  ...  2Fxmhks0bxGSBdJ92vM42m
2                                         Señorita  ...  6v3KW9xbzN5yKLt9YKDYA2
3                                          7 rings  ...  6ocbgoVGwYJhOv1GgI9NsF
4    Sunflower - Spider-Man: Into the Spider-Verse  ...  0RiRZpuVRbi7oqRdSMwhQY
..                                             ...  ...                     ...
879                                    Springsteen  ...  05ZACkzW8YbRq3eFgIfSNB
880                                      Honey Bee  ...  0U3xEfWLX4slslHJaAorSw
881                       Stereo Love - Radio Edit  ...  1AguHaKOuggrVTebp7cZEI
882                               Black and Yellow  ...  5A6OHHy73AR5tLxgTc98zz
883                Earthquake (feat. Tinie Tempah)  ...  3SxiAdI8dP9AaaEz1Z24mn

[884 rows x 3 columns]

## Display name of the song, the artist ,the release date and popularity columns using loc function

In [25]:
spotify.loc[:,['name', 'artists','release_date', 'popularity']]

                                              name  ... popularity
0                            Old Town Road - Remix  ...         80
1                                          bad guy  ...         85
2                                         Señorita  ...         79
3                                          7 rings  ...         85
4    Sunflower - Spider-Man: Into the Spider-Verse  ...         80
..                                             ...  ...        ...
879                                    Springsteen  ...         72
880                                      Honey Bee  ...         50
881                       Stereo Love - Radio Edit  ...         64
882                               Black and Yellow  ...         75
883                Earthquake (feat. Tinie Tempah)  ...         61

[884 rows x 4 columns]

## Find duplicate rows in the dataset

In [28]:
duplicate=spotify[spotify.duplicated()]
print (duplicate)

                                name   artists  ...    tempo  year
883  Earthquake (feat. Tinie Tempah)  Labrinth  ...  153.071  2012

[1 rows x 19 columns]

## Drop the duplicate rows

In [29]:
spotify.drop_duplicates()

                                              name  ...  year
0                            Old Town Road - Remix  ...  2019
1                                          bad guy  ...  2019
2                                         Señorita  ...  2019
3                                          7 rings  ...  2019
4    Sunflower - Spider-Man: Into the Spider-Verse  ...  2019
..                                             ...  ...   ...
878                                  Sweat - Remix  ...  2011
879                                    Springsteen  ...  2011
880                                      Honey Bee  ...  2011
881                       Stereo Love - Radio Edit  ...  2010
882                               Black and Yellow  ...  2011

[883 rows x 19 columns]

## Group the songs by year and explicit values and display the average popularity of song in each group
  hint = groupy year and explicit column. Find the average of popularity for each group.For better understanding [  CLICK HERE](https://www.geeksforgeeks.org/python-pandas-dataframe-groupby/)

In [31]:
spotify.groupby(spotify.year)

## Display the name of the artist with highest number of occcurance with the number of occcurances .

In [32]:
spotify['artists'].value_counts()

Taylor Swift         18
Calvin Harris        16
Ed Sheeran           16
Ariana Grande        16
Maroon 5             15
                     ..
Cher Lloyd            1
Russ Millions         1
Foster The People     1
Lil Baby              1
Roddy Ricch           1
Name: artists, Length: 371, dtype: int64

In [34]:
spotify['artists'].describe()

count              884
unique             371
top       Taylor Swift
freq                18
Name: artists, dtype: object

## Display the song name, artist and release date of the song with popularity more than 50.

In [ ]:
spotify.loc[:,['name', 'artists','release_date', 'popularity']]

## Read the dataset spotify_data_2021-1

In [36]:
spotify2 = pd.read_csv("/content/spotify_data_2021_1.csv")

## The  given datasets have the same number of columns? Use shape function. Before concatenating check for the missing column ( the column that is there in spotify_data_2011-2020.csv but not in spotify_data_2021-1.csv)

In [37]:
spotify2.shape

(100, 18)

## Create the missing column in the new dataset. Find the hint at the end of the Notebook.

## Concatenate the new songs of 2021 with the existing dataset

## Arrange the songs with increasing order with respect to energy

#The values in release date column is in the format dd-mm-yyyy extract the year from each of the value to vcreate a new column